<h2 [ngSwitch]="isNew">
  <ng-container *ngSwitchCase="true">Adding</ng-container>
  <ng-container *ngSwitchCase="false">Editing</ng-container>
  Incident{{ incident.name.length ? ':' : '&hellip;' }}
  {{ incident.name }}
</h2>

<form
  (ngSubmit)="onSubmit()"
  #incidentForm="ngForm"
>

  <div class="form-group">
    <label for="incName">Incident Name</label>
    <input
      id="incName"
      class="form-control"
      type="text"
      required
      name="name"
      [(ngModel)]="incident.name">
  </div>

  <div class="form-group">
    <label for="incDiscovered">Discovered Date</label>
    <input
      id="incDiscovered"
      class="form-control"
      type="date"
      required
      name="discovered"
      [ngModel]="(incident.discovered ? incident.discovered : today) | date: 'yyyy-MM-dd'"
      (ngModelChange)="incident.discovered = $event"
      [max]="today"
    >
  </div>

  <div class="form-group">
    <label for="incDesc">Incident Description</label>
    <textarea
      id="incDesc"
      class="form-control"
      rows="3"
      required
      name="description"
      [(ngModel)]="incident.description"></textarea>
  </div>

  <div class="form-group">
    <label for="incDept">Department</label>
    <select
      id="incDept"
      class="form-control"
      required
      name="department"
      [(ngModel)]="incident.department">
      <option value="">Select</option>
      <option
        *ngFor="let dept of departments"
        [ngValue]="dept"
      >{{ dept }}</option>
    </select>
  </div>

  <div class="d-flex">
    <button type="button" class="btn btn-link p-0" (click)="onClickBack()">Go back</button>
    <button type="submit" class="btn btn-success ml-auto" [disabled]="!incidentForm.valid">Save changes</button>
  </div>

</form>
